@import "../../globals.scss";

.video-store-container {
  .movie-container {
    padding-top: 2rem;
    display: grid;
    @include multi(grid-column-gap, 5%, 4%, 4%, 4%);
    @include multi(
      grid-template-columns,
      29% 29% 29%,
      25% 25% 25% 25%,
      25% 25% 25% 25%,
      25% 25% 25% 25%
    );
    .movie-card {
      background-color: $light-dark;
      color: white;
      @include backimage();
      @include multi(height, 20vh, 20vh, 20vh, 20vh);
      margin: 5px;
      @include center-center();
      // font-size: 2rem;
    }
    .movie-description {
      padding: 1rem;
      background-color: $dark;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      @include center-center();
    }
  }
}
