@import "../../globals.scss";

.video-store-container {
  .movie-container {
    display: grid;
    @include multi(grid-column-gap, 5%, 4%, 4%, 4%);
    @include multi(
      grid-template-columns,
      29% 29% 29%,
      25% 25% 25% 25%,
      25% 25% 25% 25%,
      25% 25% 25% 25%
    );
    .movie-card {
      background-color: $light-dark;
      color: $dark;
      @include backimage();
      @include multi(height, 20vh, 20vh, 20vh, 20vh);
      margin: 5px;
    }
  }
}
