@import '../../globals.scss';

.header-container{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    *{
        margin-left: 0.5rem;
        color: $pink;
        font-size: 1.5rem;
    }
}