@import "../../globals.scss";

.movie-description {
  @include full-full();
}
.overlayer {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $dark * 0.8;
  // padding: 20%;
  // @include center-center();
  // @include full-full();
  color: $pink;
}
